.img{
    position: relative;
}
.main_img .img img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top;
}

.img p{
    position:absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0 0 10px 10px;
    line-height: 27px;
}

h1{
    margin: 5px 0 0 16px;
    font-weight: normal;
    font-size: 32px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button{
    margin: 5px 20px 0 0;
}

.author{
    font-size: 20px;
    margin: 5px 0 0 25px;
    font-weight: normal;
}

.tab{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.tab button{
    font-size: 20px;
    padding: 8px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(198, 212, 224);
    border: none;
    box-shadow: rgb(125, 125, 125) 1px 1px 1px;
}

.tab button.active{
    background-color: white;
    border: 1px rgb(130, 130, 130) solid;
    box-shadow: none;
}


/* episode */

.arc-selector select{
    font-size: 20px;
    border: none;
    color: #007bff;
    -webkit-appearance: none; /* Safari/Chrome用 */
    -moz-appearance: none;    /* Firefox用 */
    appearance: none;         /* 標準ブラウザ用 */
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path fill='%23444' d='M297.4 438.6C309.9 451.1 330.2 451.1 342.7 438.6L502.7 278.6C515.2 266.1 515.2 245.8 502.7 233.3C490.2 220.8 469.9 220.8 457.4 233.3L320 370.7L182.6 233.4C170.1 220.9 149.8 220.9 137.3 233.4C124.8 245.9 124.8 266.2 137.3 278.7L297.3 438.7z'/></svg>");
    
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 25px 25px; 
    padding-right: 40px;
    margin-left: 25px;
}

.episode_list{
    padding: 20px 15px 0 5px;
}

.episode{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 8px 0 8px 25px;
}

.episode p, .episode h3{
    margin: 0;
}

.epi_img{
    width: 85px;
    height: 55px;
    object-fit: cover;
    border: 1px solid black;
}

.epi_info p{
    color: rgb(80, 80, 80);
}

.free{
    color:#00b3ff;
}

.cost{
    background-color: rgb(210, 210, 210);
    padding: 2px 4px;
    color: black;
}

.episode_list hr{
    margin: 0;
    color: gray;
}

.c_buttons{
    text-align: center;
}

.read_more{
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-bottom: 10px;
}

.read_from_first{
    text-decoration: none;
    background-color: #F2F3F4;
    padding: 10px 100px;
    border-radius: 50px;
    box-shadow: rgb(186, 186, 186) 1px 1px 1px;
}

.read_by_character{
    margin-top: 60px;
}

.scroll-container{
    margin-top: 10px;
}

.manga{
    width: 220px;
    height: 240px;
}

.manga .image_small{
    height: 140px;
}