.img{
    position: relative;
}
.main_img .img img{
    width: 100%;
}

.img p{
    position:absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0 0 10px 10px;
    line-height: 27px;
}

h1{
    margin: 10px 0 0 20px;
    font-weight: normal;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button{
    margin: 5px 20px 0 0;
}

.author{
    font-size: 20px;
    margin: 5px 0 0 25px;
    font-weight: normal;
}