.img{
    position: relative;
}
.main_img .img img{
    width: 100%;
}

.img p{
    position:absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0 0 10px 10px;
    line-height: 27px;
}

h1{
    margin: 10px 0 0 20px;
    font-weight: normal;
    font-size: 32px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button{
    margin: 5px 20px 0 0;
}

.author{
    font-size: 20px;
    margin: 2px 0 0 25px;
    font-weight: normal;
}

.tab{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.tab button{
    font-size: 20px;
}



/* episode */

.arc-selector select{
    font-size: 20px;
    border: none;
    color: #007bff;
    -webkit-appearance: none; /* Safari/Chrome用 */
    -moz-appearance: none;    /* Firefox用 */
    appearance: none;         /* 標準ブラウザ用 */
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path fill='%23444' d='M297.4 438.6C309.9 451.1 330.2 451.1 342.7 438.6L502.7 278.6C515.2 266.1 515.2 245.8 502.7 233.3C490.2 220.8 469.9 220.8 457.4 233.3L320 370.7L182.6 233.4C170.1 220.9 149.8 220.9 137.3 233.4C124.8 245.9 124.8 266.2 137.3 278.7L297.3 438.7z'/></svg>");
    
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 25px 25px; 
    padding-right: 40px;
    margin-left: 25px;
}