img{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
    color:white;
    z-index: 100;
    
}