svg{
    width: 32px;
    height: 32px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* button */
button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

/* ↓消す */
.manga{

    background-color: #F2F3F4;
}

div.character{
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #D5D8DC;
    box-shadow: #7f7f7f 1px 1px 8px;
}
/* ↑消す */

body{
    margin: 0;
    padding: 55px 0 calc(40px + env(safe-area-inset-bottom)) 0;
}

/* header */
header{
    background-color:#ECF0F1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

svg.main_menu, svg.search{
    margin: 10px 5px 5px 5px;
}



/* main */
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}

h2{
    font-size: 24px;
    margin: -10px 0 0 10px;
}

.scroll-container{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 15px 20px 15px;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}
.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.manga{
    flex: 0 0 auto;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    box-shadow: #b9b9b9 1px 1px 15px;
    display: flex;
    flex-direction: column;
}



/* footer */
footer{
    background-color:#ECF0F1;
}

.links{
    background-color: #2b2b2b;
    color: white;
    padding: 5px 0 20px 0;
}

.links h3{
    text-align: center;;
}

.links ul{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px 0 10px 0;
    background-color: #ECF0F1;
}

nav .nav-link{
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.nav-link.active{
    color: #007bff;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 6px;
    height: 6px;
    background-color: #007bff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: popIn 0.3s ease;
}

@keyframes popIn {
  from { transform: translateX(-50%) scale(0); }
  to { transform: translateX(-50%) scale(1); }
}