svg{
    width: 32px;
    height: 32px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* button */
button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

/* ↓消す */
.manga{

    background-color: #F2F3F4;
}
/* ↑消す */

body{
    margin: 0;
    padding: 55px 0 calc(50px + env(safe-area-inset-bottom)) 0;
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;;
}

/* header */
header{
    background-color:#ECF0F1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

svg.main_menu, svg.search{
    margin: 5px;
}



/* main */
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}

h2{
    font-size: 24px;
    margin: -10px 0 0 20px;
}

.lines{
    border: none;
    height: 1px;
    margin: 0 auto 10px auto;
    width: calc(100% - 20px);
    background-color: black;
}

.scroll-container{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 15px 40px 15px;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}
.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.manga{
    flex: 0 0 auto;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    box-shadow: #b9b9b9 1px 1px 15px;
    display: flex;
    flex-direction: column;
}

.manga img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.manga .manga_info{
    padding: 5px 10px 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.manga_info p, .manga_info h3{
    margin: 3px 0;
}

.manga_info p{
    font-size: 16px;
    color: #424242;
}

.manga_info h3{
    font-size: 22px;
}

.tags{
    margin-top: auto;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.tags p{
    background-color: #D5D8DC;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 14px;
}

.ch_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_characters{
    margin: -10px 10px 0 0;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

div.character{
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #D5D8DC;
    box-shadow: #7f7f7f 1px 1px 8px;
}

.character img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.content_info{
    border: 1px solid #7f7f7f;
    border-radius: 8px;
    padding: 5px;
    margin: -5px 15px;
    text-align: center;
}

.con_info_h3{
    margin: 5px 0 7px 0;
    font-weight: normal;
    font-size: 16px;
}

.content_info p{
    margin: 5px 0;
    color: #4e4e4e;
}

/* footer */
footer{
    background-color:#ECF0F1;
}

.links{
    background-color: #2b2b2b;
    color: white;
    padding: 5px 0 20px 0;
}

.links h3{
    text-align: center;
    font-weight: normal;
}

.links ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 30px;
}

.links a{
    text-decoration: none;
    color: rgb(206, 206, 206);
}

nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 8px 0 10px 0;
    background-color: #ECF0F1;
}

nav .nav-link{
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.nav-link.active{
    color: #007bff;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 6px;
    height: 6px;
    background-color: #007bff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: popIn 0.3s ease;
}

@keyframes popIn {
  from { transform: translateX(-50%) scale(0); }
  to { transform: translateX(-50%) scale(1); }
}